[Desktop Entry]
Name=Proton VPN
Exec=protonvpn-app
Terminal=false
Type=Application
Icon=com.protonvpn.app.gtk
StartupWMClass=com.protonvpn.app.gtk
Comment=Proton VPN GUI client
Categories=Network;