%define unmangled_name proton-vpn-gtk-app
%define pep_625_name proton_vpn_gtk_app
%define version {version}
%define upstream_version {upstream_version}
%define logo_filename proton-vpn-logo.svg
%define desktop_entry_filename proton.vpn.app.gtk.desktop
%define release 1

Prefix: %{{_prefix}}
Name: %{{unmangled_name}}
Version: %{{version}}
Release: %{{release}}%{{?dist}}
Summary: %{{unmangled_name}} library

Group: ProtonVPN
License: GPLv3
Vendor: Proton Technologies AG <opensource@proton.me>
URL: https://github.com/ProtonVPN/%{{unmangled_name}}
Source0: %{{pep_625_name}}-%{{upstream_version}}.tar.gz
Source3: %{{desktop_entry_filename}}
Source4: %{{logo_filename}}
BuildArch: noarch
BuildRoot: %{{_tmppath}}/%{{pep_625_name}}-%{{version}}-%{{release}}-buildroot

BuildRequires: desktop-file-utils
BuildRequires: python3-devel
BuildRequires: python3-setuptools
BuildRequires: gtk4
BuildRequires: libnotify
BuildRequires: python3-gobject
BuildRequires: python3-dbus
BuildRequires: python3-proton-vpn-api-core >= 5.2.4
BuildRequires: librsvg2
BuildRequires: python3-packaging

Requires: gtk4
Requires: libnotify
Requires: python3-gobject
Requires: python3-dbus
Requires: python3-proton-vpn-api-core >= 5.2.4
Requires: librsvg2
Requires: python3-packaging

%{{?python_disable_dependency_generator}}

%description
Package %{{unmangled_name}}.

%prep
%setup -q -n %{{pep_625_name}}-%{{upstream_version}}

%build
%pyproject_wheel

%install
%pyproject_install
%pyproject_save_files proton
desktop-file-install --dir=%{{buildroot}}%{{_datadir}}/applications %{{SOURCE3}}
desktop-file-validate %{{buildroot}}%{{_datadir}}/applications/%{{desktop_entry_filename}}
mkdir -p %{{buildroot}}%{{_datadir}}/icons/hicolor/scalable/apps
cp %{{SOURCE4}} %{{buildroot}}%{{_datadir}}/icons/hicolor/scalable/apps/%{{logo_filename}}

%files -n %{{name}} -f %{{pyproject_files}}
%{{_bindir}}/protonvpn-app
%{{_datadir}}/applications/%{{desktop_entry_filename}}
%{{_datadir}}/icons/hicolor/scalable/apps/%{{logo_filename}}

%changelog
