@import "dark_colours.css";

button.primary:not(:disabled) {
	background-color: @interaction-norm;
	background-image: image(@interaction-norm);
	border-color: @interaction-norm;
    color: @text-norm;
}

button.secondary:hover, button.primary:hover {
	background-color: @interaction-norm-hover;
	background-image: image(@interaction-norm-hover);
	border-color: @interaction-norm-hover;
	color: @text-norm;
}

button.danger:hover {
	border-color: @signal-danger;
    background-color: @signal-danger;
	background-image: image(@signal-danger);
	color: @text-norm;
}

button.secondary:active, button.primary:active {
	background-image: image(@interaction-norm-active);
	border-color: @interaction-norm-active;
	color: @text-norm;
}

button.danger:active {
	border-color: @signal-danger-active;
    background-color: @signal-danger-active;
	background-image: image(@signal-danger-active);
	color: @text-norm;
}

button.spaced label {
	padding: 5px 20px;
}

button.link label {
    color: @interaction-norm;
}

