@import "dark_colours.css";
@import "dark_buttons.css";


label.info {
    background-color: @signal-info;
    background-image: image(@signal-info);
    color: @text-norm;
    text-shadow: None;
    padding: 5px;
}

label.error {
    background-color: @signal-danger;
    background-image: image(@signal-danger);
    color: @text-norm;
    text-shadow: None;
    padding: 5px;
}

label.success {
    background-color: @signal-success;
    background-image: image(@signal-success);
    color: @text-norm;
    text-shadow: None;
    padding: 5px;
}

#vpn-widget,
#login-widget {
    margin: 10px;
}

#login-logo {
    margin-top: 75px;
    margin-bottom: 40px;
}

#bug-report-content,
#bug-report-dialog buttonbox,
#early-access-dialog buttonbox {
    margin: 20px;
}

#server-load.signal-danger {
    color: @signal-danger
}

#server-load.signal-warning {
    color: @signal-warning
}

#server-load.signal-success {
    color: @signal-success
}

.setting-category {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.setting-category:last-child {
    margin-bottom: 60px;
}

.setting-item {
    border: 1px solid rgba(155, 155, 155, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.upgrade-tag {
    border-radius: 10px;
    background: transparent;
    border: 1px solid rgba(155, 155, 155, 0.2);
    outline: none;
    background-image: none;
}

.release-notes-collection {
    margin: 20px 20px 60px 20px;
}

#login-kill-switch-revealer box {
    border-top: 1px solid rgba(155, 155, 155, 0.2);
    padding: 15px 0px;
    margin-top: 20px;
}

label.signal-danger {
    color: @signal-danger
}