@import "dark_colours.css";
@import "dark_buttons.css";
@import "connection_status.css";
@import "main_widget.css";
@import "server_list.css";

entry:focus-within,
button:focus-visible,
label:focus-visible,
label link:focus-visible,
switch:focus-visible {
    outline-color: @interaction-norm;
}

switch:checked {
    background-color: @interaction-norm;
    background-image: image(@interaction-norm);
    border-color: @interaction-norm;
}

switch:checked:hover {
    background-color: @interaction-norm-hover;
    background-image: image(@interaction-norm-hover);
    border-color: @interaction-norm-hover;
}

entry text selection {
    background-color: @interaction-norm;
    color: @text-norm;
}

label link {
    color: @interaction-norm;
}

label link:hover {
    color: @interaction-norm-hover;
}

scrollbar slider {
    background-color: @interaction-norm;
}

scrollbar slider:hover {
    background-color: @interaction-norm-hover;
}

scrollbar slider:active {
    background-color: @interaction-norm-active;
}

label.info {
    background-color: @signal-info;
    background-image: image(@signal-info);
    color: @text-norm;
    text-shadow: None;
    padding: 5px;
}

label.error {
    background-color: @signal-danger;
    background-image: image(@signal-danger);
    color: @text-norm;
    text-shadow: None;
    padding: 5px;
}

label.success {
    background-color: @signal-success;
    background-image: image(@signal-success);
    color: @text-norm;
    text-shadow: None;
    padding: 5px;
}

#vpn-widget,
#login-widget {
    margin: 10px;
}

#login-logo {
    margin-top: 75px;
    margin-bottom: 40px;
    margin-right: 10px;
}

#two-factor-auth-vpn-logo {
    margin-top: 2em;
    margin-bottom: 1em;
}

#bug-report-content,
#bug-report-dialog buttonbox,
#early-access-dialog buttonbox,
.dialog-action-area{
    margin: 20px;
}
.dialog-action-area > button {
    margin-left: 5px;
}

.setting-category {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.setting-category:last-child {
    margin-bottom: 60px;
}

.setting-item {
    border: 1px solid rgba(155, 155, 155, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.upgrade-tag {
    border-radius: 10px;
    background: transparent;
    border: 1px solid rgba(155, 155, 155, 0.2);
    outline: none;
    background-image: none;
}

.beta-tag {
    border-radius: 5px;
    border: 1px solid @primary;
    color: @primary;
    padding: 2px 6px;
    font-size: 0.9em;
}

.release-notes-collection {
    margin: 20px 20px 60px 20px;
}

#login-kill-switch-revealer box {
    border-top: 1px solid rgba(155, 155, 155, 0.2);
    padding: 15px 0px;
    margin-top: 20px;
}

label.signal-danger {
    color: @signal-danger;
}

#split-tunneling-app-selection-window viewport {
    margin: 15px 30px 30px;
    padding: 2px 0px 0px 0px;
    border: 1px solid @border-norm;
    border-radius: 5px;
}

#split-tunneling-app-selection-window viewport > box {
    margin: 0px 0px 0px 5px;
}

#split-tunneling-app-selection-window #split-tunneling-app-done-button {
    margin: 15px 30px 30px;
}

#split-tunneling-app-based-settings {
    margin-top: 10px;
}

#split-tunneling-app-based-settings #split-tunneling-app-add-button {
    margin: 15px 10px 5px 10px;
}


#selected-app-list {
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}

#two-factor-auth-widget > label.two-factor-auth-stack-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.default-loading-widget-label{
    margin-left: 1.8em;
	margin-right: 1.8em;
}


#nps-survey-modal-content {
    margin: 24px 32px 32px 32px;
}

#nps-survey-modal.submitted #nps-survey-modal-content {
    margin-top: 0;
}

#nps-survey-modal headerbar {
    background: transparent;
    background-image: none;
    box-shadow: none;
    border: none;
    min-height: 32px;
    padding: 0 4px;
}

.nps-score-layout {
    margin-top: 32px;
}

.nps-score-button {
    padding: 0;
    min-width: 32px;
    min-height: 32px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.nps-score-button + .nps-score-button {
    margin-left: 4px;
}

.nps-score-button:checked {
    background: @interaction-norm-active;
    background-image: none;
    color: @text-norm;
}

.nps-light-label {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.nps-feedback-optional-label {
    margin-top: 4px;
}

.nps-feedback-prompt-label {
    font-size: 12px;
    font-weight: 700;
    margin-top: 32px;
}

.nps-feedback-scroll {
    margin-top: 8px;
}

#nps-survey-modal-title-label {
    font-size: 20px;
    font-weight: 700;
    margin: 32px 0 0 0;
}

#nps-survey-modal button.primary {
    margin-top: 24px;
    margin-bottom: 32px;
}

#nps-survey-modal-subtitle-label {
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0 0 0;
}

